.table-bilan {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-bilan::-webkit-scrollbar {
  width: 0rem;
}

.table-bilan__pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.table-bilan__form-select {
  width: 70px !important;
  height: 35px;
}
