.bilan {
  padding: 2rem;
}

.bilan-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 20px 0 10px 0;
}

@media (max-width: 1065px) {
  .bilan {
    padding: 1rem 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .bilan {
    padding: 2rem 0rem;
  }
}

@media (max-width: 767px) {
  .bilan-filters {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    margin: 20px 0 10px 0;
  }
  #inputSearch {
    width: 100%;
    margin-bottom: 10px;
  }
  #dateFilter {
    margin-bottom: 10px;
  }

  .br-pagebody,
  .bilanTitle,
  .bilanTable {
    padding: 0;
  }

  .bilanTitle > h4 {
    padding-left: 10px;
  }

  .bilanContent,
  .bilanCard {
    padding: 0 10px !important;
  }

  .bilanTable th,
  .bilanTable td {
    font-size: 8px !important;
    min-width: 80px;
  }

  .categories {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bilan-filters {
    padding: 15px;
  }
}

@media (min-width: 992px) {
  .bilan-filters {
    padding: 20px;
  }
}
